<?xml version="1.0" encoding="UTF-8"?>
<manifest identifier="man00001" xmlns:bb="http://www.blackboard.com/content-packaging/">
<organizations/>
<resources>
  {{#resources}}
    <resource bb:file="{{file}}" bb:title="{{title}}" identifier="{{id}}" type="{{type}}" xml:base="{{id}}"/>
  {{/resources}}
</resources>
</manifest>
